output-*
collatz-*
rose-*
city-*
reflections-*
maze-*
s018_tessellate/*.mp4
s018_tessellate/*.gif
s018_tessellate/*.png
csq-*
blackhole-*
hole-*
n-*.png
triangularity-*
cog-*.png
s03*/*.png
s03*/*.mp4